.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
}

.checkout_left{
    margin-right: 30em;
}

.checkout_right{
    margin-left: 20em;
}

.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}